<div class="main-panel">
    <div class="content-wrapper" style="background: #0f204b">
        <div class="row">
            <div class="col-md-12 grid-margin">

                <div class="lights">
                    <img src="~/assets/images/home/001_1511179.gif" style="height: 100px; margin-left: 78px;" alt="logo" />
                    <img src="~/assets/images/home/001_1511179.gif" style="height: 100px;" alt="logo" />

                </div>
                <div class="logo">
                    <img src="~/assets/images/index/logo-lapland.png" style="width: 1077px; height: 391px; margin-top: 50px; margin-left: 116px;" alt="logo" />
                </div>
            </div>
        </div>
    </div>
</div>
