* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}
body .nav-area {
  width: 100%;
  height: 18px;
  background-color: #0f204b;
}
body #navbar .nav-menu {
  margin-top: 30px;
}
body #navbar .nav-menu ul li {
  display: inline-block;
  padding-left: 18px;
  list-style: none;
}
body #navbar .nav-menu ul li a {
  text-decoration: none;
  color: #0f204b;
}
body #navbar .logo {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #navbar .logo img {
  width: 130px;
}
body #navbar .nav-menu2 {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  gap: 35px;
  margin-top: 25px;
}
body #navbar .nav-menu2 .search .search-box {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}
body #navbar .nav-menu2 .search .input-search {
  display: static;
  height: 30px;
  width: 30px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all 0.5s ease-in-out;
  background-color: #0f204b;
  padding-right: 20px;
  color: #0f204b;
}
body #navbar .nav-menu2 .search .input-search::-moz-placeholder {
  color: #0f204b;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
body #navbar .nav-menu2 .search .input-search:-ms-input-placeholder {
  color: #0f204b;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
body #navbar .nav-menu2 .search .input-search::placeholder {
  color: #0f204b;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
body #navbar .nav-menu2 .search .btn-search {
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color: #ffffff;
  background-color: transparent;
  pointer-events: painted;
}
body #navbar .nav-menu2 .search .btn-search i {
  left: 27px;
  position: absolute;
  bottom: 27px;
  font-size: 15px;
}
body #navbar .nav-menu2 .search .btn-search:focus ~ .input-search {
  width: 200px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid #0f204b;
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
body #navbar .nav-menu2 .search .input-search:focus {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid #0f204b;
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
body #navbar .nav-menu2 .basket {
  background: #0f204b;
  border-radius: 50%;
  width: 31px;
  height: 30px;
}
body #navbar .nav-menu2 .basket i {
  margin-top: 6px;
  font-size: 18px;
  margin-left: 5px;
  color: white;
}
body #navbar .nav-menu2 .basket sup {
  margin-left: 7px;
  color: #0f204b;
}
body #navbar .nav-menu2 .heart {
  background: #0f204b;
  border-radius: 50%;
  width: 31px;
  height: 30px;
}
body #navbar .nav-menu2 .heart i {
  margin-top: 6px;
  font-size: 18px;
  margin-left: 7px;
  color: white;
}
body #navbar .nav-menu2 .heart sup {
  margin-left: 7px;
  color: #0f204b;
}
body #navbar .nav-menu2 .user-hover {
  position: relative;
  list-style: none;
  background: #0f204b;
  border-radius: 50%;
  width: 31px;
  height: 30px;
}
body #navbar .nav-menu2 .user-hover a {
  margin-left: 8px;
  color: white;
}
body #navbar .nav-menu2 .user-hover:hover .dropdown-list {
  opacity: 1;
  visibility: visible;
  transform: none;
}
body #navbar .nav-menu2 .user-hover .dropdown-list {
  position: absolute;
  top: 100%;
  right: 0;
  width: 150px;
  padding: 20px;
  background-color: #fff;
  z-index: 11;
  transform: translateY(30px);
  transition: 0.4s;
  opacity: 0;
  visibility: hidden;
  border: 1px solid #e5e5e5;
}
body #navbar .nav-menu2 .user-hover .dropdown-list li {
  display: block;
  margin-left: 0;
}
body #navbar .nav-menu2 .user-hover .dropdown-list li a {
  color: #666666;
  font-size: 13px;
  line-height: 1;
  display: block;
  padding: 8px 0;
  text-decoration: none;
  text-transform: capitalize;
}
body #navbar .nav-menu2 .user-hover .dropdown-list li a:hover {
  color: #e3a51e;
}

@media (max-width: 992px) {
  .basket {
    position: absolute;
    margin-left: 20px;
    bottom: 100px;
  }
  .heart {
    margin-left: 20px;
  }
  #scroll-section {
    opacity: 0;
  }
  #nav-area .search {
    opacity: 1 !important;
  }
  .post-filter.container {
    width: 540px !important;
  }
}
@media (max-width: 1400px) {
  .navbar-nav {
    gap: 0 !important;
  }
  .searchh {
    position: relative;
  }
  .searchh .search {
    position: absolute;
    left: 110px !important;
    width: 180px !important;
  }
  .account {
    font-size: 10px !important;
  }
}
@media (max-width: 1200px) {
  #nav-area .searchh {
    opacity: 0 !important;
  }
}
#scroll-section {
  width: 100%;
  position: fixed;
  transition: 0.5s;
  z-index: 4;
}
#scroll-section .inActive {
  visibility: hidden;
}
#scroll-section .navbar {
  background-color: white;
  border-radius: 10px;
  padding: 0 30px 0 30px;
}
#scroll-section .logo img {
  width: 100px;
  height: 80px;
}
#scroll-section .basket {
  background: #0f204b;
  border-radius: 50%;
  width: 31px;
  height: 30px;
}
#scroll-section .basket i {
  margin-top: 6px;
  font-size: 18px;
  margin-left: 5px;
  color: white;
}
#scroll-section .basket sup {
  margin-left: 7px;
  color: #0f204b;
}
#scroll-section .heart {
  background: #0f204b;
  border-radius: 50%;
  width: 31px;
  height: 30px;
}
#scroll-section .heart i {
  margin-top: 6px;
  font-size: 18px;
  margin-left: 7px;
  color: white;
}
#scroll-section .heart sup {
  margin-left: 7px;
  color: #0f204b;
}

#shop-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: white;
  height: 144px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#shop-bg h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 70px;
  color: #ffb81c;
}

#login-form {
  height: 650px;
  background-size: cover;
  background-repeat: no-repeat;
}
#login-form .col-12 {
  margin-top: 20px;
  position: relative;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transition: 0.5s;
}
#login-form .col-12 .login-register {
  margin-top: 60px;
  position: relative;
  width: 800px;
  height: 500px;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
}
#login-form .col-12 .login-register .user {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}
#login-form .col-12 .login-register .user .login-img {
  position: relative;
  width: 50%;
  height: 100%;
  transition: 0.5s;
}
#login-form .col-12 .login-register .user .login-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#login-form .col-12 .login-register .user .login-form {
  position: relative;
  width: 50%;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  transition: 0.5s;
}
#login-form .col-12 .login-register .user .login-form h2 {
  font-family: nav-font;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  color: #0f204b;
}
#login-form .col-12 .login-register .user .login-form input {
  width: 100%;
  padding: 10px;
  background: #f5f5f5;
  color: #333;
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 14px;
  margin: 8px 0;
  letter-spacing: 1px;
  font-weight: 300;
}
#login-form .col-12 .login-register .user .login-form input[type=submit] {
  max-width: 100%;
  background: #0f204b;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.5s;
}
#login-form .col-12 .login-register .user .login-form .register {
  position: relative;
  margin-top: 20px;
  font-size: 12px;
  letter-spacing: 1px;
  color: #555;
  text-transform: uppercase;
  font-weight: 300;
}
#login-form .col-12 .login-register .user .login-form .register a {
  font-weight: 600;
  text-decoration: none;
  color: #577eff;
}
#login-form .col-12 .login-register .register .login-img {
  top: -100%;
  transition: 0.5s;
}
#login-form .col-12 .login-register .register .login-form {
  top: 100%;
}
#login-form .col-12 .login-register .register .login-form input[type=submit] {
  background: #e73e49;
}
#login-form .col-12 .login-register .login .login-form {
  top: 0;
}
#login-form .col-12 .login-register .login .login-img {
  top: 0;
  transition: 0.5s;
}
#login-form .active .register {
  pointer-events: initial !important;
}
#login-form .active .register .login-form {
  top: 0 !important;
}
#login-form .active .register .login-img {
  top: 0 !important;
}
#login-form .active .login .login-form {
  top: 100% !important;
}
#login-form .active .login .login-img {
  top: -100% !important;
}

@media (max-width: 991px) {
  #login-register .col-12 {
    max-width: 400px;
    margin-left: 150px;
  }
  #login-register .col-12 .login-img {
    display: none;
  }
  #login-register .col-12 .login-img img {
    width: 200px !important;
  }
  #login-register .col-12 .user .login-form {
    width: 100% !important;
  }
}
#footercompany {
  margin-top: 100px;
  background-color: #0f204b;
}
#footercompany .footer {
  padding-top: 80px;
}
#footercompany .footer .logo2 {
  position: absolute;
  left: 30;
}
#footercompany .footer .logo2 img {
  width: 170px;
}
#footercompany .footer .aboutfooter {
  color: white;
}
#footercompany .footer .aboutfooter ul {
  padding-left: 0;
}
#footercompany .footer .aboutfooter ul li {
  list-style: none;
}
#footercompany .footer .aboutfooter .wishing .google {
  width: 150px;
  margin-bottom: 10px;
}
#footercompany .footer .aboutfooter .socials {
  display: flex;
  gap: 20px;
}
#footercompany .footer .aboutfooter .socials img {
  width: 20px;
}
#footercompany .footer-2 {
  margin-top: 50px;
  width: 100%;
  height: 50px;
  background: black;
}
#footercompany .footer-2 p {
  color: rgb(132, 132, 132);
  margin-left: 105px;
  position: absolute;
  margin-top: 15px;
}

@media (max-width: 767px) {
  .col-3 {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .col-3 {
    width: 100%;
  }
}/*# sourceMappingURL=login.css.map */